

.menuContainer {
  position: relative;
  display: inline-block;
}

.menuBtn {
  background-color: #000000;
  color: rgb(245, 241, 241);
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  min-width: 160px;
  padding: 8px 0;
  margin-top: 4px;
  font-size: 16px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #f5cef5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
}

.menuItem {
  padding: 0;
}

.menuItem a {
  display: block;
  width: 100%;
  padding: 4px 16px;
  clear: both;
  color: #212529;
  text-decoration: none;
  white-space: nowrap;
}

.menuItem a:hover {
  background-color: #f8f9fa;
  color: #d481df;
}
